**/.dockerignore
**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/out
**/publish
**/.idea
**/*.md
**/docker-compose*.yml
**/postgres-init
**/*.user
**/*.suo
**/.env*
**/node_modules
**/.dockerignore
